body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Caixa central */
.container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

/* Títulos */
h2 {
    margin-bottom: 15px;
}

/* Inputs */
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

/* Botão */
button {
    width: 100%;
    padding: 8px;
    background-color: #4e73df;
    color: white;
    border: none;
    cursor: pointer;
}

/* Mensagem */
p {
    margin-top: 10px;
    font-weight: bold;
}